<mat-card [ngStyle]="{'padding':'0px'}">
  <mat-card-title class="corHeader">Adicionar grupo</mat-card-title>
  <mat-card-content>
    <form [formGroup]="novoGrupo">
      <mat-form-field [ngClass]="{'tamanhoInput':style}">
          <input matInput placeholder="Nome do Grupo" formControlName="descricao" maxlength="60">
      </mat-form-field>
     <h6>Funcionalidades</h6>
      <hr>
        <button  class="btn btn-outline-success" (click)="adicionar()">
            <i class="fas fa-plus"></i>  Adicionar
          </button>
          <!-- Inicio da tabela -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [hidden]="dataSource.data.length === 0">
              <!-- Coluna para a remoção do item -->
              <ng-container matColumnDef="remover">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element" (click)="remove(element)">
                    <i class="fas fa-trash btn-trash" matTooltip="Remover funcionalidade"></i>
                  </td>
              </ng-container>

              <!-- Coluna com a descrição da função -->
              <ng-container matColumnDef="funcao">
                  <th mat-header-cell *matHeaderCellDef > Função </th>
                  <td mat-cell *matCellDef="let element"> {{element.nomeTela}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons [hidden]="dataSource.data.length === 0"></mat-paginator>
  </form>
  </mat-card-content>
  <mat-card-actions class="corHeader">
      <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="25px">
        <button  class="btn btn-outline-success" (click)="submit()"
         [disabled]="!novoGrupo.valid || dataSource.data.length === 0">
          <i class="fas fa-save"></i> Salvar
        </button>
        <button class="btn btn-outline-secondary" (click)="resetForm()"><i class="fas fa-eraser"></i> Limpar</button>
        <button class="btn btn-outline-danger"><i class="fas fa-times"></i> Cancelar</button>
      </div>

      </mat-card-actions>
</mat-card>

