.fundo{
  height: 50vh;
  width: 100%;
  /*background-color: rgb(0, 255, 0); */
}
.login-form {
  width: 350px;
  padding: 40px 30px;
  background: #eee;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
}
.log-btn {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  height: 50px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}
mat-form-field{
  width: 100%;
}
